// @import "../../style.scss";
@use "../../style.scss" as *;

.leftBar {
    @include themify($themes) {
        flex: 2;
        position: sticky;
        top: 70px;
        height: fit-content;
        height: calc(100vh - 80px);
        overflow-y: scroll;
        background-color: themed("bg");
        color: themed("textColor");

        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .container {
            padding: 20px;

            hr {
                margin: 20px 0;
                border: none;
                border-width: 5px;
                height: 0.5px;
                background-color: themed("border");
            }

            .menu {
                display: flex;
                flex-direction: column;
                gap: 20px;

                span {
                    font-size: 12px;
                    ;
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span {
                        font-size: 14px;
                    }
                }

                .item {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 30px;
                    }

                    span {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}